.nv {

    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: #516cb8;
    margin: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
    color: #333;
}

h1 {
    background: #6986d5;
    color: white;
    padding: 20px;
    text-align: center;
}


h2 {
    color: #1e3a8a;
    margin: 20px;
}

p {
    text-align: center;
    margin: 20px;
    font-size: 18px;
}
