.nv {

    color: rgb(0, 0, 0);
    text-decoration: none;
    background-color: #516cb8;
    margin: 10px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f4f4f4;
    color: #333;
}

h1 {
    background: #6986d5;
    color: white;
    padding: 20px;
    text-align: center;
}


h2 {
    color: #1e3a8a;
    margin: 20px;
}

p {
    text-align: center;
    margin: 20px;
    font-size: 18px;
}
ul,
ol {
    margin: 20px 60px;
    font-size: 17px;
}

table {
    width: 90%;
    margin: 20px auto;
    border-collapse: collapse;
    background: white;
}

table th {
    background: #1e3a8a;
    color: white;
    padding: 12px;
}

table td {
    text-align: center;
    padding: 12px;
}

table,
th,
td {
    border: 1px solid #ccc;
}

img {
    border-radius: 8px;
}
